@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: #000000;
    background-color:#f7f7f7;
}

h2 {
    font-family: "Exo", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000;
}

.section-heading {
    text-align: center;
    margin: 20px;
}

hr {
    border: 0.5px solid #000;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
}

/*----------------------nav---------*/

.navbar-nav {
    text-align: right;
}

.logo {
    border: 1px solid #000;
}

/*----------------------hero-image---------*/

#hero-image {
    height: 500px;
    width: 100%;
    background: url(/assets/images/ring.jpg) no-repeat center center;
    background-size: cover;
}

#hero-outer {
    height: 500px;
    width: 100%;
    margin-top: 50px;
    
}

/*----------------------about---------*/

.hr-2 {
    border: 1px solid #000;
    margin: 0 auto;
    margin-bottom: 20px;
}

 .about-info {
    margin-top: 10px;
}

.about-right {
    margin-top: 10px;
}

/*----------------------classes---------*/

.class-price {
    font-family: "Exo", sans-serif; 
    text-align: center;
    text-transform: uppercase;
    color: red;
    size: 1.5em;
}

.classes-bottom {
    margin-top: 2%;
}

/*----------------------contact---------*/

#contact {
    margin-bottom: 10px;
}

.map-container {
    position: relative;
    overflow: hidden;
}

/*----------------------footer---------*/

