@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*-----general----*/

.uppercase {
text-transform: uppercase;
}

/*-----headings----*/

header {
    margin: 0;
}

/*-----jumbotron----*/

.jumbotron {
 background: url("../images/ring.jpg");
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 min-height: 500px;
}

/*-----nav----*/

.navbar-brand {
font-family: "Exo", sans-serif;
font-weight: 400;
text-transform: 
}